<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!--property name="hibernate.hbm2ddl.auto">create</property-->
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

		<!--
		     Entities
		-->
		<!-- Security entities -->
		<mapping class="mr.common.security.userentity.model.UserEntity" />
		<mapping class="mr.common.security.userentity.model.Authority" />
		<mapping class="mr.common.security.userentity.model.UserData" />
		<mapping class="mr.common.security.userentity.model.RoleEntity" />
		<mapping class="mr.common.security.userentity.organization.model.OrganizationEntity" />

	</session-factory>

</hibernate-configuration>
